
.container {
  width: 100vw;
  height: 100vh;
  background: #fff;
overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.contentHeader {
  overflow: hidden;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#activeDesktop {
  display: none;
}
#desativeDesktop {
  display: flex;
}
.headerContainer {
  width: 100vw;
  height: 667px;
  background: #1e7ace;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contentHeader {
  display: flex;
}
.contentHeaderDesktop {
  display: none;
}

header {
  width: 100%;
  height: 667px;
  background: #1e7ace;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 85%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  margin-left: -20px;
  flex-shrink: 0;
  width: 200px;
  height: 120px;
}

.menu {
  width: 50%;
  height: 100%;

  padding-right: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu i {
  color: #fff;

  font-size: 20px;
}

.headerTitle {
  width: 90%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle h1 {
  color: #fff;
  width: 85%;

  font-size: 1.5rem;
  line-height: 2.1rem;
}

.headerImg {
  width: 85%;
  height: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImg img {
  width: 90%;
  height: 60%;
}

.headerImg span {
  margin-top: 3rem;
  color: #fff;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;

  text-align: start;

  width: 85%;
}

@media (min-width: 1056px) and (max-width: 3840px) {
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: #1E7ACE;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #1E7ACE;
  }

  header {
    width: 1280px;
  }
  

  #desativeDesktop {
    display: none;
  }
  #activeDesktop {
    display: flex;
  }

  .logo {
    margin-left: 40px;
  }
  .menu {
    width: 70%;
  }

  .menu ul li a {
    text-decoration: none;
    color: #fff;
    width: 100%;

    font-weight: 300;
    font-size: 0.8rem;
  }

  .menu ul li {
    display: flex;
    align-items: center;

    margin-right: 10px;

    width: 90px;

    list-style: none;
  }

  .menu ul button {
    height: 35px;
    width: 20%;
    font-size: 0.8rem;

    background: none;

    border: 1px solid #fff;
    border-radius: 8px;

    color: #fff;

    cursor: pointer;
  }

  .menu ul button:hover{
    border: 1px solid #1e7ace;
    background: #fff;
    color: #1E7ACE;

    transition: 0.3s;
  }

  .logo {
    width: 600px;
  }

  .contentHeader {
    display: none;
  }
  .contentHeaderDesktop {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .headerTitle {
    flex-direction: column;
    width: 40%;
  }

  .headerTitle h1{
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  .headerTitle span {
    color: #fff;
    width: 85%;

    margin-top: 2rem;

    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.2rem;
  }

  .headerImg {
    width: 600px;
  }

  .headerImg img {
    height: 100%;
  }
}
