.personalData {
  width: 100%;
  height: auto;

  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalTitle {
  width: 80%;
  height: 100px;

  display: flex;
  align-items: flex-end;
}

.personalTitle h2 {
  color: #152b3f;
  font-size: 1.8rem;
  font-weight: 500;
}

.personalInfo {
  padding-top: 40px;

  width: 80%;
  display: flex;
  flex-direction: column;
}

.personalInfo label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

.personalInfo input {
  padding: 10px 20px;
  margin-top: 1rem;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.personalSelect {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;

  margin-top: 2rem;
}

.personalGender {
  width: 50%;
  height: 50%;
}

.personalGender label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

.personalGender select {
  padding: 10px 20px;
  margin-top: 1rem;
  width: 90%;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.personalState {
  width: 50%;
  height: 100%;
}

.personalState label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

.personalState select {
  padding: 10px 20px;
  margin-top: 1rem;
  width: 90%;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.genderButton {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.genderButton button {
  padding: 8px 15px;
}

.genderButton button:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid #d0d0d0;
  background: #fff;
}

.genderButton button:first-child:hover {
  border: 1px solid #37c77f;
  color: #37c77f;
  cursor: pointer;
}

.genderButton button:last-child {
  border-radius: 0 5px 5px 0;
  border: 1px solid #d0d0d0;
  background: #fff;
}

.genderButton button:last-child:hover {
  border: 1px solid #bb2929;
  color: #bb2929;
  cursor: pointer;
}

.personalSelect input {
  width: 90%;
}

#many {
  padding-left: 1.2rem;
}

#personalMany {
  margin-top: -10px;
}

#name {
  margin-bottom: 1.2rem;
}

.contactSession {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: row wrap;

  padding-top: 50px;
}

input#cep {
  margin-bottom: 2rem;
}

.contactSession div {
  margin-right: 10px;
}

.phoneContact label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

#gender {
  width: 90%;
}

#info {
  padding-top: 0;
}

.phoneContact input {
  padding: 10px 20px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.cellphoneContact label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

.cellphoneContact input {
  padding: 10px 20px;
  margin-top: 1rem;
  width: 200px;
  margin-bottom: 1rem;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.emailContact label {
  color: #636363;
  font-size: 1rem;
  padding-top: 1rem;
}

.emailContact input {
  padding: 10px 20px;
  margin-top: 1rem;
  width: 250px;
  margin-bottom: 1rem;

  border-radius: 10px;
  border: 1px solid #d0d0d0;
}

.textExperience {
  width: 100%;
  height: 270px;
}

#textareaExperience {
  height: 230px;
  width: 100%;
  resize: none;

  border: 1px solid #d0d0d0;
}

.declarationText {
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

.declarationText p {
  text-align: justify;
  font-size: 0.9rem;
  color: #636363;
}

.declarationText .genderButton {
  margin-top: 1rem;
}

.buttonsSend {
  margin-top: 2rem;

  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
}

.curriculum {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
}

.curriculum input[type="file"] {
  width: 80%;
  display: none;
}

.curriculum label {
  border: 1px solid;
  width: 95%;
  height: 50px;
  border-radius: 8px;

  color: #152b3f;

  font-size: 0.8rem;
  font-weight: 500;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sendForm {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
}

.sendForm button {
  width: 90%;
  height: 50px;
  border-radius: 8px;

  border: 1px solid #152b3f;
  background: #152b3f;

  font-weight: 300;

  color: #fff;
}

#declare {
  margin-right: 5px;
}
#declarelabel {
  font-size: 0.8rem;
}

#desktop {
  display: none;
}

.mobileAdress {
  display: flex;
  flex-direction: column;
}

.desktopAdress {
  display: none;
}

.iAdress {
  margin-bottom: 20px;
}

@media (min-width: 1024px) and (max-width: 3840px) {
  .personalData {
    width: 1280px;
  }

  header {
    width: 1280px;
  }

  .curriculum label {
    width: 35%;
  }

  .sendForm button {
    width: 35%;
    margin-left: -240px;
  }

  .personalInfo .desktopResponsive {
    width: 90%;
  }

  #desktop {
    display: flex;
  }

  .desktopResponsive {
    width: 50%;
  }
  .mobileData {
    display: none;
  }

  #declare {
    margin-right: 5px;
  }

  #declarelabel {
    font-size: 1rem;
  }

  .contactSession div {
    margin-right: 40px;
  }

  input#cep {
    margin-bottom: 2rem;
    width: 90%;
  }

  .mobileAdress {
    display: none;
  }

  .desktopAdress {
    display: flex;
    flex-direction: column;
  }
}
