<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/job/headerJob.css">
    <link rel="stylesheet" href="/public/css/job/personalData.css">

</head>

<body>
    <div class="container">
        <div class="headerContainer">
            <header>
                <div class="header">
                    <div class="logo"><img src="/public/assets/logo.png" alt=""></div>
                    <div class="menu">
                        <ul id="activeDesktop">
                            <li><a href="">Início</a></li>
                            <li><a href="">Empresa</a></li>
                            <li><a href="">Soluções</a></li>
                            <li><a href="">Parceiros</a></li>
                            <li><a href="">Contato</a></li>
                            <li><a href="">Faça Parte</a></li>
                            <button>Acesso Restrito</button>
                        </ul>


                        <i class="fas fa-bars" id="desativeDesktop"></i>
                    </div>
                </div>
                <div class="contentHeader">
                    <div class="headerTitle">
                        <h1>Venha trabalhar no <br />Grupo Freitas</h1>
                    </div>
                    <div class="headerImg">
                        <img src="/public/assets/headerImg.svg" alt="">
                        <span>Preencha o formulário abaixo e se cadastre em nosso banco de talentos.</span>
                    </div>
                </div>
                <div class="contentHeaderDesktop">
                    <div class="headerTitle">
                        <h1>Venha trabalhar no <br />Grupo Freitas</h1>
                        <span>Preencha o formulário abaixo e se cadastre em nosso banco de talentos.</span>
                    </div>
                    <div class="headerImg">
                        <img src="/public/assets/headerImg.svg" alt="">

                    </div>
                </div>
            </header>
        </div>
        <main>
            <form action="">
                <div class="personalData">
                    <div class="personalTitle">
                        <h2>Dados Pessoais</h2>
                    </div>
                    <div class="personalInfo">
                        <label for="name"> Nome Completo</label>
                        <input type="text" name="name" id="name">

                        <label for="cpf"> CPF</label>
                        <input type="text" name="cpf" id="cpf">

                        <div class="personalSelect">
                            <div class="personalGender">
                                <label for="gender">Gênero</label>
                                <select name="gender" id="gender">
                                    <option value="masc">Masculino</option>
                                    <option value="fem">Feminino</option>
                                </select>
                            </div>
                            <div class="personalState">
                                <label for="gender">Estado Civil</label>
                                <select name="gender" id="gender">
                                    <option value="masc">Solteiro</option>
                                    <option value="fem">Casado</option>
                                </select>
                            </div>
                        </div>
                        <div class="personalSelect">
                            <div class="personalGender">
                                <label for="gender">Vaga PCD?</label>
                                <div class="genderButton">
                                    <button type="reset">Sim</button>
                                    <button type="reset">Não</button>
                                </div>
                            </div>
                            <div class="personalState">
                                <label for="gender">Possui Filhos?</label>
                                <div class="genderButton">
                                    <button type="reset">Sim</button>
                                    <button type="reset">Não</button>
                                </div>
                            </div>
                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name"> Sim, qual a idade?</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf"> Quantos?</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>
                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name"> Naturalidade</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf"> Nacionalidade</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>
                        </div>
                    </div>

                    <div class="personalTitle">
                        <h2>Endereço</h2>
                    </div>

                    <div class="personalInfo">
                        <label for="name"> Logradouro</label>
                        <input type="text" name="name" id="name">

                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name">Número</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf">Complemento</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>

                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name">CEP</label>
                                <br>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf">Cidade</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>

                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name">UF</label>
                                <br>
                                <input type="text" name="name" id="name">
                            </div>

                        </div>
                    </div>

                    <div class="personalTitle">
                        <h2>Contato</h2>
                    </div>

                    <div class="contactSession">
                        <div class="phoneContact">
                            <label for="phone">Telefone Residêncial</label>
                            <br>
                            <input type="text" name="phone" id="phone">
                        </div>
                        <div class="cellphoneContact">
                            <label for="cellphone">Telefone Celular</label>
                            <br>
                            <input type="text" name="cellphone" id="cellphone">
                        </div>
                        <div class="emailContact">
                            <label for="email">E-mail</label>
                            <br>
                            <input type="text" name="email" id="email">
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>

</body>

</html>