<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/public/assets/logoFreitas.jpeg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça Parte | Grupo Freitas</title>
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="/public/js/formSubmit.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/job/headerJob.css">
    <link rel="stylesheet" href="/public/css/job/personalData.css">

</head>

<body>
    <div class="container">
        <div class="headerContainer">
            <header>
                <div class="header">
                    <div class="logo"><img src="/public/assets/logo.png" alt=""></div>
                    <div class="menu">
                        <ul id="activeDesktop">
                            <li><a href="">Início</a></li>
                            <li><a href="">Empresa</a></li>
                            <li><a href="">Soluções</a></li>
                            <li><a href="">Parceiros</a></li>
                            <li><a href="">Contato</a></li>
                            <li><a href="">Faça Parte</a></li>
                            <button>Acesso Restrito</button>
                        </ul>


                        <i class="fas fa-bars" id="desativeDesktop"></i>
                    </div>
                </div>
                <div class="contentHeader">
                    <div class="headerTitle">
                        <h1>Venha trabalhar no <br />Grupo Freitas</h1>
                    </div>
                    <div class="headerImg">
                        <img src="/public/assets/headerImg.svg" alt="">
                        <span>Preencha o formulário abaixo e se cadastre em nosso banco de talentos.</span>
                    </div>
                </div>
                <div class="contentHeaderDesktop">
                    <div class="headerTitle">
                        <h1>Venha trabalhar no <br />Grupo Freitas</h1>
                        <span>Preencha o formulário abaixo e se cadastre em nosso banco de talentos.</span>
                    </div>
                    <div class="headerImg">
                        <img src="/public/assets/headerImg.svg" alt="">

                    </div>
                </div>
            </header>
        </div>
        <main>
            <form action="" method="POST">
                <div class="personalData">
                    <div class="personalTitle">
                        <h2>Dados Pessoais</h2>
                    </div>
                    <div class="personalInfo">

                        <div class="mobileData">
                            <label for="name"> Nome Completo</label>
                            <br>
                            <input type="text" name="name" id="name" class="desktopResponsive">
                            <br>
                            <label for="cpf"> CPF</label>
                            <br>
                            <input type="text" name="cpf" id="cpf" class="desktopResponsive">
                        </div>

                        <div class="personalSelect" id="desktop">
                            <div class="personalGender">
                                <label for="name"> Nome Completo</label>
                                <br>
                                <input type="text" name="name" id="name" class="desktopResponsive">
                            </div>
                            <div class="personalState">
                                <label for="cpf"> CPF</label>
                                <br>
                                <input type="text" name="cpf" id="cpf" class="desktopResponsive">
                            </div>
                        </div>

                        <div class="personalSelect">
                            <div class="personalGender">
                                <label for="gender">Gênero</label>
                                <select name="gender" id="gender">
                                    <option value="masc">Masculino</option>
                                    <option value="fem">Feminino</option>
                                </select>
                            </div>
                            <div class="personalState">
                                <label for="gender">Estado Civil</label>
                                <select name="gender" id="gender">
                                    <option value="masc">Solteiro</option>
                                    <option value="fem">Casado</option>
                                </select>
                            </div>
                        </div>
                        <div class="personalSelect">
                            <div class="personalGender">
                                <label for="gender">Vaga PCD?</label>
                                <div class="genderButton">
                                    <input type="hidden" name="pcd" id="pcd" value=0>
                                    <button type="button" class="true " >Sim</button>
                                    <button type="button" class="false ">Não</button>
                                </div>
                            </div>
                            <div class="personalState">
                                <label for="gender">Possui Filhos?</label>
                                <div class="genderButton">
                                    <input type="hidden" name="children" id="children">
                                    <button type="button" class="trueChildren">Sim</button>
                                    <button type="button" class="falseChildren">Não</button>
                                </div>
                            </div>
                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name"> Sim, qual a idade?</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf"> Quantos?</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>
                        </div>
                        <div class="personalSelect" id=personalMany>
                            <div class="personalGender">
                                <label for="name"> Naturalidade</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="personalState" id="many">
                                <label for="cpf"> Nacionalidade</label>
                                <input type="text" name="cpf" id="cpf">
                            </div>
                        </div>
                    </div>

                    <div class="personalTitle">
                        <h2>Endereço</h2>
                    </div>

                    
                    <div class="personalInfo">
                        <div class="desktopAdress">
                        <div class="personalSelect" class=personalMany>
                            <div class="personalGender">
                                <label for="cep">CEP</label>
                                <br>
                                <input type="text" name="cep" id="cep">
                            </div>
                            <div class="personalState" class="many">
                                <label for="adress">Logradouro</label>
                                <input type="text" name="adress" id="adress">
                            </div>

                        </div>
                        <div class="personalSelect" class=personalMany>
                            <div class="personalGender">
                                <label for="number">Número</label>
                                <input type="text" name="number" id="number">
                            </div>
                            <div class="personalState" class="many">
                                <label for="complement">Complemento</label>
                                <input type="text" name="complement" id="complement">
                            </div>

                        </div>
                        <div class="personalSelect" class=personalMany>
                            <div class="personalGender">
                                <label for="city">Cidade</label>
                                <br>
                                <input type="text" name="city" id="adrescitys">
                            </div>
                            <div class="personalState" class="many">
                                <label for="uf">UF</label>
                                <br>
                                <input type="text" name="uf" id="uf">
                            </div>
                        </div>
                        </div>
                    

                        <div class="mobileAdress">
                            <div class="iAdress">
                                <label for="cep">CEP</label>
                                <br>
                                <input type="text" name="cep" id="cep" class="inputStyle">
                            </div>
                            <div class="iAdress">
                                <label for="adress">Logradouro</label>
                                <br>
                                <input type="text" name="adress" id="adress">
                            </div>
                            <div class="iAdress">
                                <label for="number">Número</label>
                                <br>
                                <input type="text" name="number" id="number">
                            </div>
                            <div class="iAdress">
                                <label for="complement">Complemento</label>
                                <br>
                                <input type="text" name="complement" id="complement">
                            </div>
                            <div class="iAdress">
                                <label for="city">Cidade</label>
                                <br>
                                <input type="text" name="city" id="city">
                            </div>
                            <div class="iAdress">
                                <label for="uf">UF</label>
                                <br>
                                <input type="text" name="uf" id="uf">
                            </div>
                    </div>




                    <div class="personalTitle">
                        <h2>Contato</h2>
                    </div>

                    <div class="contactSession ">
                        <div class="phoneContact">
                            <label for="phone">Telefone Residêncial</label>
                            <br>
                            <input type="text" name="phone" id="phone">
                        </div>
                        <div class="cellphoneContact">
                            <label for="cellphone">Telefone Celular</label>
                            <br>
                            <input type="text" name="cellphone" id="cellphone">
                        </div>
                        <div class="emailContact">
                            <label for="email">E-mail</label>
                            <br>
                            <input type="text" name="email" id="email">
                        </div>
                    </div>



                    <div class="personalTitle">
                        <h2>Experiência Profissional</h2>
                    </div>

                    <div class="personalInfo" id="info">

                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Possui Experiência em call center e / ou cobrança?
                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="experience" id="experience">
                                    <button type="button" class="trueExperience">Sim</button>
                                    <button type="button" class="falseExperience">Não</button>
                                </div>
                            </div>

                        </div>

                        <div class="personalGender">
                            <label for="name"> Se sim, qual?</label>
                            <br>
                            <input type="text" name="name" id="name">
                        </div>

                        <div class="textExperience">
                            <label for="describe">Descreva sua ultima experiência</label>
                            <br>
                            <textarea name="experience" id="textareaExperience" cols="30" rows="10"></textarea>
                        </div>
                    </div>




                    <div class="personalTitle">
                        <h2>Candidatura</h2>
                    </div>

                    <div class="personalInfo">
                        <label for="job"> Cargo Pretendido</label>
                        <input type="text" name="job" id="job">

                        <label for="salary"> Pretenção Salarial</label>
                        <input type="text" name="salary" id="salary">


                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Disponibilidade para seleção on-line?

                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="availability" id="availability" value="0">
                                    <button type="button" class="trueAvailability">Sim</button>
                                    <button type="button" class="falseAvailability">Não</button>
                                </div>
                            </div>

                        </div>

                        <label for="salary"> Tipo de vale transporte utilizado por dia
                        </label>
                        <input type="text" name="salary" id="salary">

                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Possui familiares que trabalham no Grupo Freitas?
                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="relatives" id="relatives">
                                    <button type="button" class="trueRelatives">Sim</button>
                                    <button type="button" class="falseRelatives">Não</button>
                                </div>
                            </div>

                        </div>

                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Já trabalhou no Grupo Freitas?
                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="alreadywork" id="alreadywork">
                                    <button type="button" class="trueAlreadywork">Sim</button>
                                    <button type="button" class="falseAlreadywork">Não</button>
                                </div>
                            </div>

                        </div>

                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Já participou de nossa Seleção nos últimos 3 meses?
                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="participated" id="participated">
                                    <button type="button" class="trueParticipated">Sim</button>
                                    <button type="button" class="falseParticipated">Não</button>
                                </div>
                            </div>

                        </div>

                        <div class="personalSelect">
                            <div class="personalGender" id="gender">
                                <label for="gender">Possui disponibilidade para atuar de Segunda-feira a Sábado?
                                </label>
                                <div class="genderButton">
                                    <input type="hidden" name="availabilityweek" id="availabilityweek">
                                    <button type="button" class="trueAvailabilityweek">Sim</button>
                                    <button type="button" class="falseAvailabilityweek">Não</button>
                                </div>
                            </div>

                        </div>

                        <div class="personalSelect">
                            <div class="personalGender">
                                <label for="gender">Disponibilidade de horário
                                </label>
                                <select name="gender" id="gender">
                                    <option value="matutino">Matutino</option>
                                    <option value="vespertino">Vespertino</option>
                                    <option value="noturno">Noturno</option>
                                </select>
                            </div>
                        </div>


                        <div class="declarationText">
                            <p>Declaro que, tenho pleno conhecimento dos eventuais remanejamentos ou novas segmentações
                                de produto, em conformidade com as necessidades e disponibilidades de vagas, bem como
                                reforço que tenho disponibilidade para treinamento de formação inicial, com base no
                                preenchimento especifico de horários e dias. Restando verdadeiras todas as informações
                                prestadas no presente formulário de identificação.
                            </p>
                            <div class="genderButton">
                                <input type="checkbox" name="declare" id="declare" value="0">
                                <label for="declare" id="declarelabel">Declaro que li e aceito os termos descritos acima.</label>
                            </div>
                        </div>


                        <div class="buttonsSend">
                            <div class="curriculum">
                                <label>
                                    Anexar Currículo
                                    <input type="file" name="curriculum" id="curriculum">
                                </label>
                            </div>
                            <div class="sendForm"><button type="submit">Enviar Formulário</button></div>
                        </div>
                    </div>

            </form>
        </main>
    </div>

</body>

</html>