.features {
  width: 100%;
  height: 40rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 3rem;
}

#desativeFeature {
  display: none;
}

#activeFeatures {
  display: flex;
}

.feature {
  width: 80%;
  height: 13rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

.feature img {
  width: 4rem;
  margin-bottom: 1rem;
}

.feature h3 {
  color: #1c74a5;
  font-weight: 300;

  margin-bottom: 1rem;
}

.feature span {
  color: #828282;
  font-weight: 400;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .feature h3 {
    font-size: 1.5rem;
  }

  .feature span {
    font-size: 1.2rem;
  }
}

@media (min-width: 770px) and (max-width: 3840px) {
  #desativeFeature {
    display: flex;
  }

  #activeFeatures {
    display: none;
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
  }

  .feature {
    width: 28%;
    
  }

  .featureTitle {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .featureTitle h2 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: #484848;
  }

  .featureTitle span {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #828282;
  }

  .featureList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .feature span {
    font-size: 0.8rem;
  }
}
