footer {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  background: #15202b;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerTitle {
  margin-top: 2rem;
  width: 80%;
  height: 15%;
}

.footerTitle h2 {
  color: #979797;
  font-weight: 300;
  font-size: 1.6rem;
}

.footerTitle p {
  color: #979797;
  text-align: justify;
}

.footerTitle h2 span {
  font-weight: 400;
  color: #fff;
}

.footerTitle span img {
  width: 3rem;
}

form {
  width: 80%;
  height: auto;

  display: flex;
  flex-direction: column;
}

.inputForm {
  margin-top: 1rem;

  width: 300px;
  height: 50px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  background: none;

  color: #ffffff;
}

.inputForm::placeholder {
  font-weight: 500;
}

.message::placeholder {
  font-weight: 500;
}

.message {
  margin-top: 1rem;

  width: 300px;
  height: 120px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  background: none;

  color: #ffffff;
}

form button {
  margin-top: 1.2rem;
  width: 8rem;
  height: 3.1rem;

  border: 1px solid #ffffff;
  border-radius: 6px;

  background: none;
}

form button h3 {
  color: #ffffff;
  font-weight: 300;
}

.desativeFooter {
  display: flex;
}
.activeFooter {
  display: none;
}

/* LOCATION */

.location {
  width: 80%;
  height: 35rem;

  margin-top: 1rem;
}

.locationTitle {
  margin-top: 1rem;
  width: 100%;
  height: 130px;
}

.locationTitle h2 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
}

.locationTitle span img {
  width: 3rem;
}

.locationTitle p {
  color: #979797;
  font-weight: 300;
}

.buttonDiv {
  width: 100%;
  height: 100px;

  border-bottom: 1px solid #979797;
}

.buttonDiv button {
  width: 8rem;
  height: 3.2rem;

  border: 1px solid #ffffff;
  border-radius: 6px;

  background: none;
}

.buttonDiv button h3 {
  color: #ffffff;
  font-weight: 300;
}

.contact {
  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact p {
  color: #ffffff;
  font-size: 0.8rem;
}

.contact img {
  height: 120px;
  width: 180px;
}

.contact h2 {
  margin-top: 3rem;
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8rem;
}

.contact h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8rem;
}

.socials {
  width: 80%;
  height: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social {
  width: 25%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social i {
  color: #ffffff;
  font-size: 1.7rem;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .footerTitle h2 {
    font-size: 2rem;
  }

  .footerTitle p {
    font-size: 1.2rem;
  }

  .locationTitle h2 {
    font-size: 2rem;
  }

  .locationTitle p {
    font-size: 1.2rem;
  }

  form button h3 {
    font-size: 1.3rem;
  }

  .buttonDiv button h3 {
    font-size: 1.3rem;
  }

  .inputForm {
    font-size: 1.1rem;
  }

  .message {
    font-size: 1.1rem;
  }

  .contactInfo p {
    font-size: 1rem;
  }

  .contactInfo img {
    height: 120px;
    width: 200px;
  }

  .contact h2,
  .contact h3 {
    font-size: 1rem;
  }
}

@media (min-width: 770px) and (max-width: 3840px) {
  .desativeFooter {
    display: none;
  }
  .activeFooter {
    display: flex;
  }

  .footerInit {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
  }
  .footerInfo {
    width: 30%;
    border-bottom: 1px solid #979797;
  }
  .formContact {
    width: 20%;
    margin-top: 5rem;
    border-bottom: 1px solid #979797;
    display: flex;
   justify-content: flex-end;
  }

  .footerTitle {
    margin-bottom: 4.7rem;
  }
  .footerTitle p {
    font-size: 0.9rem;
  }

  .locationTitle p {
    font-size: 0.9rem;
  }

  .locationTitle {
    margin-bottom: 1.5rem;
  }

  .buttonDiv {
    padding-top: 2rem;
    border-bottom: none;
  }

  .buttonDiv button:hover{
    background: #fff;
    cursor: pointer;
    
    
  }

  .buttonDiv button h3:hover{
    color: black;
    font-weight: 400;
  }

  .formContact button:hover{
    background: #fff;
    cursor: pointer;
    
  }
  .formContact button h3:hover{
    color: black;
    font-weight: 400;
  }

  .activeFooter{
    padding-top: 3rem;
  }

  .contact {
    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .headerContact{
    width: 900px;
    height: 7rem;
    display: flex;
    flex-direction: row;
  }

  .logoContact{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .logoContact img{
    width: 90%;
    height: 100%;
  }
  

  .menuContact{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menuContact ul{
    display: flex;
    flex-direction: row;
    list-style:none
  }
  .menuContact ul li{
    color: #fff;
    font-size: 0.9rem;
    margin:  0 1rem 0 1rem;
    cursor: pointer;
  }

  .menuContact ul li:hover{
    color: #3189ff;
  }

  .contactAdress{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contactAdress p {
    font-size: 0.7rem;
 
  }

  .socialContact {
    width: 50%;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .socialContact i{
    color: #fff;
    font-size: 1.6rem;
    margin-right: 1.2rem;
    cursor: pointer;
  }
}
