*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  background-color: #1E7ACE;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
}