.backHeader {
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-image: url("http://172.15.0.8:3000/uploads/background-mobile.png");
  background-size: cover;
}

.opacityVideo {
  width: 100%;
  height: 700px;
  position: absolute;
  display: none;

  background: black;
  filter: brightness(0.5);
  z-index: -40;
}

.backHeader video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 300px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px;
}

.menu {
  width: 55%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu i {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
}

.headerContent {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.infoHeader {
  width: 80%;
  height: 70%;
}

.infoHeader h1 {
  margin-top: 0.8rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.infoHeader p {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 1.2rem;
}

/* Buttons */

.buttons {
  width: 80%;
  height: 30%;

  display: flex;
  justify-content: left;
}

.buttons button {
  width: 8rem;
  height: 45%;
  margin-right: 10px;

  border: 0;
  border-radius: 0.4rem;
  background: #3189ff;

  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}
#desativeHeader {
  display: none;
}

.buttons button h3 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}

#transparent {
  background: none;
  border: 1px solid #fff;
  font-weight: 500;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .infoHeader p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: justify;
  }

  .infoHeader h1 {
    font-size: 2.8rem;
  }
}

/* ? Layout DESKTOP  */

@media (min-width: 770px) and (max-width: 3840px) {
  .backHeader {
    background-image: none;
    height: 60rem;
  }

  .menu ul li i {
    font-size: 0.7rem;
  }

  .headerContent {
    margin-top: 3rem;
  }

  .infoHeader {
    height: auto;
  }

  .infoHeader h1 {
    font-size: 3.3rem;
    font-weight: 600;
  }

  .infoHeader p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    width: 60%;
  }
  .opacityVideo {
    display: flex;
    height: 100%;
  }

  .menu {
    padding-left: 20px;
    width: 70%;
    justify-content: center;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
  }
  .menu ul li {
    color: #fff;
    list-style: none;
    margin-right: 40px;

    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
  }

  .menu ul li:hover {
    color: #3189ff;
  }

  .header {
    height: 8rem;
    width: 100%;
  }

  .logo {
    width: 30%;
  }

  .logo img {
    width: 200px;
  }

  #desativeHeader {
    display: flex;
  }

  #desativeIcon {
    display: none;
  }

  .buttons {
    height: 7rem;
    display: flex;
    align-items: center;
  }

  .buttons button {
    cursor: pointer;
  }

  .buttons button:hover {
    height: 50%;
    width: 8.2rem;
    transition: 0.25s;
  }

  .history {
    margin-top: -13rem;
  }

  .menu li ul {
    position: fixed;
    top: 12%;
    left: 63.5%;
    background-color: #fff;
    display: none;

    
  }

  .menu li ul li {
    color: #333333;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-size: 0.9rem;
    border-bottom: 0.5px solid black;
    margin: 0;
    width:100px;
    
    
    
  }

  .menu li:hover ul,
  .menu li.over ul {
    display: block;
  }

  
}
