.history {
  width: 100%;
  height: auto;
  background: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.desativeHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleHistory {
  width: 80%;
  height: 10rem;

  margin-top: 1.2rem;
}

.containerHistory {
  display: none;
}

.titleHistory span {
  font-weight: 400;
  color: #333333;
}

.titleHistory h1 {
  font-weight: 600;
  font-size: 2rem;
  color: #333333;
}

.titleHistory span img {
  width: 3rem;
}

.historyContent {
  width: 80%;
  height: auto;
  text-align: justify;
}

.historyContent p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #484848;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .titleHistory span {
    font-size: 1.2rem;
  }
  .historyContent p {
    font-size: 1.1rem;
    font-weight: 300;
  }
}

@media (min-width: 770px) and (max-width: 3840px) {
  .history {
    height: auto;
  }

  .containerHistory {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desativeHistory {
    display: none;
  }

  .infoHistory {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgHistory {
    margin-top: 5rem;
    width: 500px;
    height: 350px;
    display: flex;
    margin-right: 2rem;
    align-items: flex-start;
    justify-content: center;
  }
  .imgHistory img {
    width: 90%;
    height: 100%;
  }

  .titleHistory h1 {
    font-size: 1.7rem;
  }

  .historyContent p {
    font-size: 0.9rem;
  }

  .titleHistory {
    height: auto;
    margin-top: 3rem;
  }
}
