.history {
  width: 100%;
  height: auto;
  background: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleHistory {
  width: 80%;
  height: 10rem;

  margin-top: 1.2rem;
}

.titleHistory span {
  font-weight: 400;
  color: #333333;
}

.titleHistory h1 {
  font-weight: 600;
  font-size: 2rem;
  color: #333333;
}

.titleHistory span img {
  width: 3rem;
}

.historyContent {
  width: 80%;
  height: auto;
  text-align: justify;
}

.historyContent p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #484848;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .titleHistory span {
    font-size: 1.2rem;
  }
  .historyContent p {
    font-size: 1.3rem;
  }
}
