.negotiate {
  width: 100%;
  height: auto;
  background: #eeeeee;

  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#negotiateback {
  background: #ffffff;
}

#desative {
  display: none;
}

.negotiateTitle {
  width: 80%;
  height: auto;
}

.negotiateInfoMid {
  width: 100%;
  height: auto;
}

.negotiateInfo {
  width: 100%;
  height: auto;
}

.negotiateTitle h2 {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333333;
}

.negotiateTitle span img {
  width: 3rem;
}

.negotiateTitle p {
  text-align: justify;
  color: #727272;
}

.negotiateTitle button {
  margin-top: 1rem;

  width: 13rem;
  height: 3.5rem;

  border: 0;
  border-radius: 0.4rem;
  background: #3189ff;

  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.negotiateTitle button p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}

.negotiateTitle button span i {
  margin-top: 0.15rem;
  color: white;
  width: 2rem;
  font-size: 1rem;
}

.negotiateImg {
  width: 100%;
  height: auto;
}

.negotiateImg img {
  margin-top: 1rem;
  width: 290px;

  object-fit: cover;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 3840px) {
  .negotiateTitle p {
    font-size: 1.2rem;
  }

  .negotiateTitle {
    display: flex;
    flex-direction: row;
  }
  .negotiateInfo {
    width: 50%;
    margin-right: 2rem;
  }
  .negotiateImg {
    width: 50%;
  }

  .negotiateImg img {
    width: 100%;
  }
  .negotiateInfoMid {
    display: none;
  }
  #desative {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
}

/* ? Layout DESKTOP  */
@media (min-width: 770px) and (max-width: 3840px) {
  .negotiateTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .negotiate {
    height: 600px;
  }

  .negotiateInfo {
    width: 35%;
  }

  .negotiateImg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .negotiateImg img {
    width: 90%;
    height: 50%;
    object-fit: cover;
  }
  .negotiateTitle p {
    font-size: 1rem;
  }

  .negotiateTitle h2 {
    font-size: 2.2rem;
  }
}
