.solutions {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.solutionImg {
  width: 100%;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.solutionImg {
  width: 100%;
  height: 40%;
}

.solutionTitle {
  width: 80%;
  height: 25%;

  margin-bottom: 2rem;
}

.solutionTitle h1 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #333333;
}

.solutionTitle span img {
  width: 3rem;
}

.solutionTitle h3 {
  font-weight: 400;
  color: #333333;
  font-size: 1rem;

  text-align: justify;
}

.solution {
  width: 85%;
  height: 8rem;

  display: flex;
  flex-direction: row;

  margin-bottom: 1rem;
}

#activeSolution {
  display: none;
}
#desativeSolution {
  display: flex;
}
.iconSolution {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 10rem;

  box-shadow: 0 0 7px rgba(165, 165, 165, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 60%;
  height: 60%;
}

.infoSolution {
  width: 65%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.infoSolution h1 {
  color: #111633;
  font-weight: 400;
  margin-bottom: 0.4rem;

  font-size: 1.1rem;

  text-align: justify;
}

.infoSolution span {
  color: #8f8f8f;
  font-size: 0.9rem;
  text-align: justify;
}

/* ! Layout IPAD */

@media (min-width: 600px) and (max-width: 769px) {
  .solutionTitle h3 {
    font-size: 1.2rem;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .infoSolution h1 {
    font-size: 1.3rem;
  }

  .infoSolution span {
    font-size: 1.1rem;
  }
}

/* ! Layout DESKTOP */
@media (min-width: 770px) and (max-width: 3840px) {
  #desativeSolution {
    display: none;
  }
  #activeSolution {
    display: flex;
  }
  .solutionInit {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
  }

  .solutionImg {
    width: 30%;
    display: flex;
    margin-right: 2rem;
  }
  .solutionTitle {
    width: 30%;
  }
  .solutionTitle h3 {
    font-size: 0.9rem;
  }
  .solution {
    width: 23%;
    height: auto;
  }
  .solutionthird {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  .infoSolution span {
    font-size: 0.82rem;
  }
  .infoSolution h1 {
    font-size: 1.1rem;
    text-align: start;
  }
}
